.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
  padding: 0 5vw;
  text-align: center;

  h2 {
    font-size: clamp(2rem, 9vw, 8rem);
    font-weight: 700;
    margin: 0;
  }
}
