.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    font-size: 10rem;
    font-weight: 700;
    color: #e6dcdc;
}


.section2{
    background-color: #1F1514;
    margin-top: -5px;
    height: 40vh;
}